<div class="hero-unit">
	<h1>Minister</h1>
	<p>And verily in this thing ye have done wisely, for it is requited of the Lord, at the hand of every steward, to render an account of his stewardship, both in time and in eternity.</p>
	<p align="center"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{it.currentLocation.coords.latitude}},{{it.currentLocation.coords.longitude}}&zoom=6&size=400x300&sensor=false"></img></p>
	<p><a href="#" class="btn btn-primary btn-large">Signup &raquo;</a></p>
</div>
<div class="row-fluid">
	<div class="span4">
		<h2>Seminary Teachers</h2>
		<p>Keep track of your teaching and student&apos;s progress.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div><!--/span-->
	<div class="span4">
		<h2>Institute Directors</h2>
		<p>Receive notice of future students, and easily contact anyone.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div><!--/span-->
	<div class="span4">
		<h2>Simply Envision</h2>
		<p>This is made with the purpose of helping you keep track of everything you need.  By keeping track of everything here, you will be able to easily create reports, submit forms, and contact people.</p>
		<p>We also provide you with an opportunity to collaborate and share ideas with other instructors.  As we work together, we can come to a knowledge of the truth and thus become better followers of righteousness.</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div><!--/span-->
</div><!--/row-->