@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);

h1{
	font-family: 'Lovers Quarrel', cursive;
}

#main{
	margin-top: 75px;
}

.map{
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(2deg);
	-webkit-box-shadow: 0 6px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	margin: 30px;
	border: 15px solid #FFF;
	width: 400px;
	height: 300px;
}
.map:after {
	content: attr(title);
}
#map_canvas{
	width:100%;
	height: 100%;
}