@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);

h1{
	font-family: 'Lovers Quarrel', cursive;
}

#main{
	margin-top: 75px;
}

.map{
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.map:after {
	content: attr(title);
}