<div id="signup">
	<form id="signupForm" class="form-horizontal">
		<h3>Signup</h3>
		<div class="control-group">
			<label class="control-label" for="first_name">First Name</label>
			<div class="controls">
				<input type="text" id="first_name" name="first_name" placeholder="First Name">
			</div>
			<label class="control-label" for="last_name">Last Name</label>
			<div class="controls">
				<input type="text" id="last_name" name="last_name" placeholder="Last Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" id="username" name="username" placeholder="Username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" id="password" name="password" placeholder="Password">
			</div>
		</div>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button type="submit" class="btn btn-primary">Signup</button>
	</form>
</div>