<div class="hero-unit">
	<h1>Welcome {{it.valid.first_name}}!</h1>
	<p>This is a mission-like map for your students.  It allows you to keep track of your students and their progress while they attend seminary and help them through to continue active in institute after graduation.  To begin, join or create a program below.</p>
</div>
<div class="row-fluid">
	<div class="span6">
		<h2>Seminary</h2>
		<div class="control-group">
			<label class="control-label" for="org_area_sem">Join an existing seminary</label>
			<div class="controls">
				<input type="text" id="org_area_sem" name="org_area_sem" placeholder="Last Name" required>
			</div>
		</div>
		<p>If your seminary does not already have an account, you can set it up below.</p>
		<p><a class="btn" href="#/org/create/">Create Seminary &raquo;</a></p>
	</div><!--/span-->
	<div class="span6">
		<h2>Institute</h2>
		<div class="control-group">
			<label class="control-label" for="org_area_ins">Join an existing institute</label>
			<div class="controls">
				<input type="text" id="org_area_ins" name="org_area_ins" placeholder="Last Name" required>
			</div>
		</div>
		<p>If your institute does not already have an account, you can set it up below.</p>
		<p><a class="btn" href="#/org/create/">Create Institute &raquo;</a></p>
	</div><!--/span-->

	<script src="js/magicsuggest_class.js"></script>
	<script src="js/magicsuggest.js"></script>
	<script>
		var Org = StackMob.Model.extend({ schemaName: 'organization' });
		var Orgs = StackMob.Collection.extend({ model: Org });
		var seminaries = new Orgs();
		var q = new StackMob.Collection.Query();
		q.equals('org_type', 'Seminary');
		q.orderAsc('org_name'); //sort by title in ascending order
		q.setRange(0,50); //get the first 10.  second 10 would be setRange(10,19)
		seminaries.query(q, {
		    success: function(orgs) {
		        var list = jQuery.map(orgs.toJSON(), function (a) {
					var t={};
					t.id=a.organization_id;
					t.name=a.org_name;
					return t;
				});
				new MagicSuggest({
				    renderTo: $('#org_area_sem'),
				    name: 'org_area_sem',
				    selectionPosition: 'inner',
				    width: 250,
				    maxSelection:1,
				    resultAsString:true,
				    data: list
				});
		    },
		});
		var institutes = new Orgs();
		var q = new StackMob.Collection.Query();
		q.equals('org_type', 'Institute');
		q.orderAsc('org_name'); //sort by title in ascending order
		q.setRange(0,50); //get the first 10.  second 10 would be setRange(10,19)
		institutes.query(q, {
		    success: function(orgs) {
		        var list = jQuery.map(orgs.toJSON(), function (a) {
					var t={};
					t.id=a.organization_id;
					t.name=a.org_name;
					return t;
				});
				new MagicSuggest({
				    renderTo: $('#org_area_ins'),
				    name: 'org_area_ins',
				    selectionPosition: 'inner',
				    width: 250,
				    maxSelection:1,
				    resultAsString:true,
				    data: list
				});
		    },
		});
	</script>
</div><!--/row-->

