<div id="signup" ng-app> 
	<form id="formCreate" class="form-horizontal" data-schema="organization" data-hash="/org/list" ng-submit="submit()" ng-controller="formCtrl">
		<h3>Create Organization</h3>
		<div class="alert alert-error" ng-show="!it.isValid"><p>Welcome!  You need to login before you can create an organization.</p></div>
		<hr>
		<h4>Organization Information</h4>
		<!--Program Name, Program Type, Parent Program, Location(GPS & Address), Contact Information, Website-->
		<div class="control-group">
			<label class="control-label" for="org_name">Program Name</label>
			<div class="controls">
				<input type="text" id="org_name" name="org_name" placeholder="Program Name" ng-model="org_name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_type">Program Type</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" id="org_type" name="org_type" value="Seminary" ng-model="org_type" required> Seminary
				</label>
				<label class="radio inline">
					<input type="radio" id="org_type" name="org_type" value="Institute" ng-model="org_type" required> Institute
				</label>
			</div>
		</div>
		<div class="control-group" ng-show="org_type=='Institute'">
			<label class="control-label"></label>
			<div class="controls">
				<a class="btn btn-warning" target="_new" href="http://institute.lds.org/find-institute/Search?q={{org_name}}&lang=eng">Lookup On LDS.org</a>
				<textarea id="quickpaste"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_director">Director Name</label>
			<div class="controls">
				<input type="text" id="org_director" name="org_director" placeholder="Director Name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_address">Address</label>
			<div class="controls">
				<input type="text" id="org_address" name="org_address" placeholder="Address" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_phone">Phone Number</label>
			<div class="controls">
				<input type="tel" id="org_phone" name="org_phone" placeholder="555-555-5555" required>
			</div>
		</div>

		<img id="map_canvas" class="map" src="http://maps.googleapis.com/maps/api/staticmap?center={{it.currentLocation.coords.latitude}},{{it.currentLocation.coords.longitude}}&zoom=16&size=400x250&markers=color:blue%7Clabel:*%7C{{it.currentLocation.coords.latitude}},{{it.currentLocation.coords.longitude}}&sensor=false"></img>

		<div class="control-group">
			<label class="control-label" for="org_area">Area</label>
			<div class="controls">
				<input type="text" id="org_area" name="org_area" placeholder="Last Name" required>
				<span class="help-inline">This may be your state.</span>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Create Organization</button>
	</form>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyAw0i5KC7opeWmEF4jE6oYWu0UxjTOINj4" type="text/javascript"></script>
	<script src="js/magicsuggest_class.js"></script>
	<script src="js/magicsuggest.js"></script>
	<script language="javascript" src="js/geolocation.js"></script>
	<script>
		$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

		var area = StackMob.Model.extend({ schemaName: 'area' });
		var areas = StackMob.Collection.extend({ model: area });
		var allAreas = new areas();
		allAreas.fetch({
			success: function(areas) {
				var list = jQuery.map(areas.toJSON(), function (a) {
					var t={};
					t.id=a.area_id;
					t.name=a.name;
					return t;
				});
				new MagicSuggest({
				    renderTo: $('#org_area'),
				    name: 'org_area',
				    selectionPosition: 'inner',
				    width: 250,
				    required:true,
				    maxSelection:1,
				    resultAsString:true,
				    editable:false,
				    data: list
				});
			}
		});

		$('#quickpaste').blur(function(){
			var contact	= parseContact($('#quickpaste').val());
			$('#org_address').val(contact['address_street']+' '+contact['address_zip']);
			$('#org_phone').val(contact['phone']);
			$('#org_email').val(contact['email']);
		});

		initialize(it.currentLocation.coords.latitude, it.currentLocation.coords.longitude);
	</script>
</div>