<div id="signup"> 
	<form id="formCreate" class="form-horizontal" data-schema="organization" data-callback="orgCreated" ng-submit="submit()" ng-controller="formCtrl">
		<h3>Create Organization</h3>
		<hr>
		<h4>Organization Information</h4>
		<!--Program Name, Program Type, Parent Program, Location(GPS & Address), Contact Information, Website-->
		<div class="control-group">
			<label class="control-label" for="org_name">Program Name</label>
			<div class="controls">
				<input type="text" id="org_name" name="org_name" placeholder="Program Name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_type">Program Type</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" id="org_type" name="org_type" value="Seminary" required> Seminary
				</label>
				<label class="radio inline">
					<input type="radio" id="org_type" name="org_type" value="Institute" required> Institute
				</label>
				<span class="help-block">Each account can only be linked to one organization.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_director">Director Name</label>
			<div class="controls">
				<input type="text" id="org_director" name="org_director" placeholder="Director Name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_address">Address</label>
			<div class="controls">
				<input type="text" id="org_address" name="org_address" placeholder="Address" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="org_phone">Phone Number</label>
			<div class="controls">
				<input type="tel" id="org_phone" name="org_phone" placeholder="555-555-5555" required>
			</div>
		</div>

		<img class="map" src="http://maps.googleapis.com/maps/api/staticmap?center={{it.currentLocation.coords.latitude}},{{it.currentLocation.coords.longitude}}&zoom=16&size=400x250&markers=color:blue%7Clabel:*%7C{{it.currentLocation.coords.latitude}},{{it.currentLocation.coords.longitude}}&sensor=false"></img>

		<div class="control-group">
			<label class="control-label" for="org_area">Area</label>
			<div class="controls">
				<input type="text" id="org_area" name="org_area" placeholder="Last Name" required>
				<span class="help-inline">This may be your state.</span>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Create Organization</button>
	</form>
	<script src="js/validation.js"></script>
	<script src="js/magicsuggest_class.js"></script>
	<script src="js/magicsuggest.js"></script>
	<script>
		$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

		var area = StackMob.Model.extend({ schemaName: 'area' });
		var areas = StackMob.Collection.extend({ model: area });
		var allAreas = new areas();
		allAreas.fetch({
			success: function(areas) {
				var list = jQuery.map(areas.toJSON(), function (a) {
					var t={};
					t.id=a.area_id;
					t.name=a.name;
					return t;
				});
				new MagicSuggest({
				    renderTo: $('#org_area'),
				    name: 'org_area',
				    selectionPosition: 'inner',
				    width: 250,
				    required:true,
				    maxSelection:1,
				    resultAsString:true,
				    editable:false,
				    data: list
				});
			}
		});
		
	</script>
</div>