<div id="signup" ng-app> 
	<form id="formCreate" class="form-horizontal" data-schema="organization" data-hash="/account/welcome" ng-submit="submit()" ng-controller="formCtrl">
		<input type="hidden" id="lat" value="default">
		<input type="hidden" id="lng" value="default">
		<h3>Create Organization</h3>
		<div class="alert alert-error" ng-show="!it.isValid"><p>Welcome!  You need to login before you can create an organization.</p></div>
		<hr>
		<h4>Organization Information</h4>
		<!--Program Name, Program Type, Parent Program, Location(GPS & Address), Contact Information, Website-->
		<div class="control-group">
			<label class="control-label" for="type">Program Type</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" id="type" name="type" value="Seminary" ng-model="type" required> Seminary
				</label>
				<label class="radio inline">
					<input type="radio" id="type" name="type" value="Institute" ng-model="type" required> Institute
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">Program Name</label>
			<div class="controls">
				<input type="text" id="name" name="name" placeholder="Program Name" ng-model="name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="director">Director Name</label>
			<div class="controls">
				<input type="text" id="director" name="director" placeholder="Director Name" required>
			</div>
		</div>
		<div class="control-group" ng-show="type=='Institute'">
			<label class="control-label" title="You can copy the 'Contact' information from LDS.org  and paste it here to quickly add it.">Quick Paste</label>
			<div class="controls">
				<textarea id="quickpaste"></textarea>
			</div>
			<label class="control-label"></label>
			<div class="controls">
				<a class="btn btn-warning" target="_new" href="http://institute.lds.org/find-institute/Search?q={{name}}&lang=eng">Lookup On LDS.org</a>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="address">Address</label>
			<div class="controls">
				<input type="text" id="address" name="address" placeholder="Address" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="phone">Phone Number</label>
			<div class="controls">
				<input type="tel" id="phone" name="phone" placeholder="555-555-5555">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email Number</label>
			<div class="controls">
				<input type="email" id="email" name="email" placeholder="org_name@ldschurch.org">
			</div>
		</div>

		<div class="map"><div id="map_canvas"></div></div>

		<div class="control-group">
			<label class="control-label" for="area">Area</label>
			<div class="controls">
				<input type="text" id="area" name="area" placeholder="Last Name" required>
				<span class="help-inline">This may be your state.</span>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Create Organization</button>
	</form>
	<script src="js/magicsuggest_class.js"></script>
	<script src="js/magicsuggest.js"></script>
	<script language="javascript" src="js/geolocation.js"></script>
	<script>
		$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

		var area = StackMob.Model.extend({ schemaName: 'area' });
		var areas = StackMob.Collection.extend({ model: area });
		var allAreas = new areas();
		allAreas.fetch({
			success: function(areas) {
				var list = jQuery.map(areas.toJSON(), function (a) {
					var t={};
					t.id=a.area_id;
					t.name=a.name;
					return t;
				});
				new MagicSuggest({
				    renderTo: $('#area'),
				    name: 'area',
				    selectionPosition: 'inner',
				    width: 250,
				    required:true,
				    maxSelection:1,
				    resultAsString:true,
				    editable:false,
				    data: list
				});
			}
		});

		maps.init('map_canvas', 0, 0);

		// Update address fields when quick pasted.
		$('#quickpaste').blur(function(){
			var contact	= parseContact($('#quickpaste').val());
			$('#address').val(contact['address_street']+' '+contact['address_zip']);
			$('#phone').val(contact['phone']);
			$('#email').val(contact['email']);
			
			maps.updateFromAddress('map_canvas', 0, contact['address_street']+' '+contact['address_zip'], function(event, canvasId, markerId){
				$('#lat').val(maps.marker[canvasId][markerId].getPosition().mb);
				$('#lng').val(maps.marker[canvasId][markerId].getPosition().nb);
				// alert(maps.marker[canvasId][markerId].getPosition().toString());
			});
		});
		//update map when address is updated.
		$('#address').blur(function(){
			maps.updateFromAddress('map_canvas', 0, $(this).val(), function(event, canvasId, markerId){
				$('#lat').val(maps.marker[canvasId][markerId].getPosition().mb);
				$('#lng').val(maps.marker[canvasId][markerId].getPosition().nb);
			});
		});
	</script>
</div>