<div id="signup" ng-app> 
	<h3>Map Of Institutes</h3>
	<hr>
	<div class="map"><div id="map_canvas"></div></div>

	<script language="javascript" src="js/geolocation.js"></script>
	<script>

		var org = StackMob.Model.extend({ schemaName: 'organization' });
		var orgs = StackMob.Collection.extend({ model: org });
		var allOrgs = new orgs();
		allOrgs.fetch({
			success: function(orgs) {
				console.log(orgs);
				var list = orgs.models;
				// var list = jQuery.map(orgs.models.toJSON(), function (a) {
				// 	var t={};
				// 	t.name=a.name;
				// 	return t;
				// });
				it.list = list;
				for(var i=0; i<list.length; i++){
					maps.newMarker('map_canvas', list[i].attributes.geo.lat, list[i].attributes.geo.lat, function(event, canvasId, markerId){
						alert(list[i].attributes.name);
					})
				}
				// put points on map.
			}
		});

		maps.init('map_canvas', 0, 0); 
	</script>
</div>