<div id="signup" ng-app> 
	<h3>Map Of Institutes</h3>
	<hr>
	<div class="map"><div id="map_canvas"></div></div>

	<script language="javascript" src="js/geolocation.js"></script>
	<script>

		var org = StackMob.Model.extend({ schemaName: 'organization' });
		var orgs = StackMob.Collection.extend({ model: org });
		var allOrgs = new orgs();
		allOrgs.fetch({
			success: function(orgs) {
				console.log(orgs);
				var list = orgs.models;
				// var list = jQuery.map(orgs.models.toJSON(), function (a) {
				// 	var t={};
				// 	t.name=a.name;
				// 	return t;
				// });
				it.list = list;
				for(var i=0; i<list.length; i++){
					maps.newMarker('map_canvas', list[i].attributes.geo.lat, list[i].attributes.geo.lon, function(event, canvasId, markerId){
						alert(markerId);
					})
					maps.marker['map_canvas'][i].info = new google.maps.InfoWindow({
						content: '<b>Speed:</b>  knots'
					});
					google.maps.event.addListener(maps.marker['map_canvas'][i], 'click', function() {
						maps.marker['map_canvas'][i].info.open(maps.openMaps['map_canvas'], maps.marker['map_canvas'][i]);
					});
				}
				maps.openMaps['map_canvas'].setZoom(6);
			}
		});

		maps.init('map_canvas', 0, 0); 
	</script>
</div>